import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>Data Exploration</h1>

In [4]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [5]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [6]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [7]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

<h1>Insight no.1-3</h1>
<h2>#1 Does the penguin specie 'Adelie' lives exclusively on an island</h2>
<p>Adelie on Biscoe Island</p>

In [8]:
[penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')].count()]

[rowid                44
 species              44
 island               44
 bill_length_mm       44
 bill_depth_mm        44
 flipper_length_mm    44
 body_mass_g          44
 sex                  44
 year                 44
 dtype: int64]

In [9]:
AB = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')]
AB

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007
25,26,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007
26,27,Adelie,Biscoe,40.6,18.6,183.0,3550.0,male,2007
27,28,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007
28,29,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007
29,30,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007
50,51,Adelie,Biscoe,39.6,17.7,186.0,3500.0,female,2008
51,52,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008
52,53,Adelie,Biscoe,35.0,17.9,190.0,3450.0,female,2008
53,54,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008
55,56,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008
56,57,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008
57,58,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008
59,60,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008
60,61,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008
61,62,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
62,63,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008
63,64,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
65,66,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008
66,67,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008
67,68,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
100,101,Adelie,Biscoe,35.0,17.9,192.0,3725.0,female,2009
101,102,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009
102,103,Adelie,Biscoe,37.7,16.0,183.0,3075.0,female,2009
103,104,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009
104,105,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009
105,106,Adelie,Biscoe,39.7,18.9,184.0,3550.0,male,2009
106,107,Adelie,Biscoe,38.6,17.2,199.0,3750.0,female,2009
107,108,Adelie,Biscoe,38.2,20.0,190.0,3900.0,male,2009
108,109,Adelie,Biscoe,38.1,17.0,181.0,3175.0,female,2009
109,110,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009
110,111,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009
111,112,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009
112,113,Adelie,Biscoe,39.7,17.7,193.0,3200.0,female,2009
113,114,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009
114,115,Adelie,Biscoe,39.6,20.7,191.0,3900.0,female,2009
115,116,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009

In [10]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torsergen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [11]:
AT = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torsergen')]
AT

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [12]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  55
year                 56
dtype: int64

In [13]:
AD = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')]
AD

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,34,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
35,36,Adelie,Dream,39.2,21.1,196.0,4150.0,male,2007
36,37,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007
37,38,Adelie,Dream,42.2,18.5,180.0,3550.0,female,2007
38,39,Adelie,Dream,37.6,19.3,181.0,3300.0,female,2007
39,40,Adelie,Dream,39.8,19.1,184.0,4650.0,male,2007
40,41,Adelie,Dream,36.5,18.0,182.0,3150.0,female,2007
41,42,Adelie,Dream,40.8,18.4,195.0,3900.0,male,2007
42,43,Adelie,Dream,36.0,18.5,186.0,3100.0,female,2007
43,44,Adelie,Dream,44.1,19.7,196.0,4400.0,male,2007
44,45,Adelie,Dream,37.0,16.9,185.0,3000.0,female,2007
45,46,Adelie,Dream,39.6,18.8,190.0,4600.0,male,2007
46,47,Adelie,Dream,41.1,19.0,182.0,3425.0,male,2007
47,48,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN,2007
48,49,Adelie,Dream,36.0,17.9,190.0,3450.0,female,2007
49,50,Adelie,Dream,42.3,21.2,191.0,4150.0,male,2007
84,85,Adelie,Dream,37.3,17.8,191.0,3350.0,female,2008
85,86,Adelie,Dream,41.3,20.3,194.0,3550.0,male,2008
86,87,Adelie,Dream,36.3,19.5,190.0,3800.0,male,2008
87,88,Adelie,Dream,36.9,18.6,189.0,3500.0,female,2008
88,89,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008
89,90,Adelie,Dream,38.9,18.8,190.0,3600.0,female,2008
90,91,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008
91,92,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008
92,93,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008
93,94,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008
94,95,Adelie,Dream,36.2,17.3,187.0,3300.0,female,2008
95,96,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008
96,97,Adelie,Dream,38.1,18.6,190.0,3700.0,female,2008
97,98,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008
99,100,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008
132,133,Adelie,Dream,36.8,18.5,193.0,3500.0,female,2009
133,134,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009
134,135,Adelie,Dream,38.1,17.6,187.0,3425.0,female,2009
135,136,Adelie,Dream,41.1,17.5,190.0,3900.0,male,2009
136,137,Adelie,Dream,35.6,17.5,191.0,3175.0,female,2009
137,138,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009
138,139,Adelie,Dream,37.0,16.5,185.0,3400.0,female,2009
139,140,Adelie,Dream,39.7,17.9,193.0,4250.0,male,2009
140,141,Adelie,Dream,40.2,17.1,193.0,3400.0,female,2009
141,142,Adelie,Dream,40.6,17.2,187.0,3475.0,male,2009
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009
143,144,Adelie,Dream,40.7,17.0,190.0,3725.0,male,2009
144,145,Adelie,Dream,37.3,16.8,192.0,3000.0,female,2009
145,146,Adelie,Dream,39.0,18.7,185.0,3650.0,male,2009
146,147,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [14]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [15]:
CB = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')]
CB

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [16]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torsergen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [17]:
CT = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torsergen')]
CT

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [18]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
dtype: int64

In [19]:
CD = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')]
CD

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [20]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [21]:
GD = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')]
GD

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [22]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torsergen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [23]:
GT = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torsergen')]
GT

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [24]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')].count()

rowid                124
species              124
island               124
bill_length_mm       123
bill_depth_mm        123
flipper_length_mm    123
body_mass_g          123
sex                  119
year                 124
dtype: int64

In [25]:
GB = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')]
GB

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h1>Insight no.4-6</h1>

<h1>Does the island affects the weight or body mass of a penguin specie ?</h1>

In [26]:
AB['body_mass_g'].mean()

np.float64(3709.659090909091)

In [27]:
np.round(AB['body_mass_g'].mean(),1)

np.float64(3709.7)

In [28]:
AT['body_mass_g'].mean()
np.round(AT['body_mass_g'].mean(),1)

np.float64(nan)

In [29]:
AD['body_mass_g'].mean()
np.round(AD['body_mass_g'].mean(),1)

np.float64(3688.4)

In [30]:
CB['body_mass_g'].mean()
np.round(CB['body_mass_g'].mean(),1)

np.float64(5076.0)

In [31]:
CT['body_mass_g'].mean()
np.round(CT['body_mass_g'].mean(),1)

np.float64(nan)

In [32]:
CD['body_mass_g'].mean()
np.round(CD['body_mass_g'].mean(),1)

np.float64(3733.1)

In [33]:
GB['body_mass_g'].mean()
np.round(GB['body_mass_g'].mean(),1)

np.float64(5076.0)

In [34]:
GT['body_mass_g'].mean()
np.round(GT['body_mass_g'].mean(),1)

np.float64(nan)

In [35]:
GD['body_mass_g'].mean()
np.round(GD['body_mass_g'].mean(),1)

np.float64(nan)

In [36]:
penguins['wkilo'] = np.round(penguins['body_mass_g']/ 1000, 1)
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h1>Insight no.7</h1>
<h2>The Adelie Species has an average weight of 3.7kilo regardless of the island location where they lived ?</h2>

In [37]:
#Adelie

In [38]:
AB = (penguins['wkilo'].mean())
AB

np.float64(4.202046783625731)

In [39]:
AT = (penguins['wkilo'].mean())
AT

np.float64(4.202046783625731)

In [40]:
AD = (penguins['wkilo'].mean())
AD

np.float64(4.202046783625731)

In [41]:
#Chinstrap

In [42]:
CB = (penguins['wkilo'].mean())
CB

np.float64(4.202046783625731)

In [43]:
CT = (penguins['wkilo'].mean())
CT

np.float64(4.202046783625731)

In [44]:
CD = (penguins['wkilo'].mean())
CD

np.float64(4.202046783625731)

In [45]:
#Gentoo

In [46]:
GB = (penguins['wkilo'].mean())
GB

np.float64(4.202046783625731)

In [47]:
GT = (penguins['wkilo'].mean())
GT

np.float64(4.202046783625731)

In [48]:
GD = (penguins['wkilo'].mean())
GD

np.float64(4.202046783625731)

<h1>#</h1>

In [49]:
penguins_agg = penguins.groupby(["species", "island", "sex"]).count()
penguins_agg

                            rowid  bill_length_mm  bill_depth_mm  \
species   island    sex
Adelie    Biscoe    female     22              22             22
                    male       22              22             22
          Dream     female     27              27             27
                    male       28              28             28
          Torgersen female     24              24             24
                    male       23              23             23
Chinstrap Dream     female     34              34             34
                    male       34              34             34
Gentoo    Biscoe    female     58              58             58
                    male       61              61             61

                            flipper_length_mm  body_mass_g  year  wkilo
species   island    sex
Adelie    Biscoe    female                 22           22    22     22
                    male                   22           22    22     22
          Dream     female                 27           27    27     27
                    male                   28           28    28     28
          Torgersen female                 24           24    24     24
                    male                   23           23    23     23
Chinstrap Dream     female                 34           34    34     34
                    male                   34           34    34     34
Gentoo    Biscoe    female                 58           58    58     58
                    male                   61           61    61     61

<h1>Insight no.8</h1>
<h2>What year has the Most Male Adelie</h2>

In [50]:
penguins_agg = penguins.groupby(["species", "year", "sex"]).size()
penguins_agg

species    year  sex
Adelie     2007  female    22
                 male      22
           2008  female    25
                 male      25
           2009  female    26
                 male      26
Chinstrap  2007  female    13
                 male      13
           2008  female     9
                 male       9
           2009  female    12
                 male      12
Gentoo     2007  female    16
                 male      17
           2008  female    22
                 male      23
           2009  female    20
                 male      21
dtype: int64

In [51]:
penguins_agg.unstack()

sex             female  male
species   year
Adelie    2007      22    22
          2008      25    25
          2009      26    26
Chinstrap 2007      13    13
          2008       9     9
          2009      12    12
Gentoo    2007      16    17
          2008      22    23
          2009      20    21

<h1>Question no.9</h1>
<h2>Which is heavier between penguins species in terms of SEX?</h2>

In [52]:
w_sex = np.round(penguins.groupby(['species','sex'])['wkilo'].mean(), 1)

In [53]:
w_sex

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.5
Name: wkilo, dtype: float64

In [54]:
w_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.5

<h1>Question no.10</h1>
<h2>What year has the highest recorded weight for Male and Female?</h2>

In [55]:
year = np.round(penguins.groupby(['sex', 'year'])['wkilo'].mean(), 1)
year

sex     year
female  2007    3.8
        2008    3.9
        2009    3.9
male    2007    4.5
        2008    4.6
        2009    4.5
Name: wkilo, dtype: float64

<h1>Question no.11</h1>
<h2>Correlation between Bill Lenght and Bill Depth?</h2>

<h1>Statistical Treatment</h1>
<h2>Used for measuring correlation between quantitative Data</h2>

In [56]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h1>Insight no.11</h1>
<h2>There is no Correlation between Bill Lenght and Bill Depht</h2>

In [57]:
b_length_depth = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])
b_length_depth

np.float64(-0.23505287035553257)

<h1>Insight no.12</h1>
<h2>There is correlation between Bill Length and Body Mass</h2>

In [58]:
b_length = penguins['bill_length_mm'].corr(penguins['body_mass_g'])
b_length

np.float64(0.5951098244376303)

<h1>Insight no.13</h1>
<h2>There is correlation between Flipper Length and Body Mass</h2>

In [59]:
f_length = penguins['flipper_length_mm'].corr(penguins['body_mass_g'])
f_length

np.float64(0.8712017673060113)

<h1>Insight no.14</h1>
<h2>There is correlation between Flipper Length and Wkilo</h2>

In [60]:
flm = penguins['flipper_length_mm'].corr(penguins['wkilo'])
flm

np.float64(0.8706550442461823)

<h1>Science Python Library -- Known as Scipy</h1>

In [61]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc46\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC46\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [62]:
from scipy.stats import f_oneway

<h1>testing correlation between body mass and sex</h1>

<h1>Insight no.15</h1>
<h2>There is a correlation between body mass and sex</h2>

In [63]:
f_stats, p_value = f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'],
                           penguins[penguins['sex'] == 'female']['body_mass_g'])
p_value

np.float64(4.897246751596225e-16)

<h1>Insight no.16</h1>
<h2>There is a correlation between sex and flipper lenght</h2>

In [64]:
f_stats, p_value = f_oneway(penguins[penguins['sex'] == 'male']['flipper_length_mm'],
                           penguins[penguins['sex'] == 'female']['flipper_length_mm'])
p_value

np.float64(2.3910970925541695e-06)